.icone {
    display: inline-block;
    margin-left: 1px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.icone.icone_editar {
    background: url(//cdn.bluesoft.com.br/commons/icons/editar.png) no-repeat;
}
.icone.icone_visualizar {
    background: url(//cdn.bluesoft.com.br/commons/icons/visualizar.png) no-repeat;
}
.icone.icone_download{
    background: url(//cdn.bluesoft.com.br/commons/icons/download_arquivo.png) no-repeat;
}

.icone.icone_ocorrencias{
    background: url(//cdn.bluesoft.com.br/commons/icons/ocorrencias.png) no-repeat;
}

.icone.icone_partidas_dobradas{
    background: url(//cdn.bluesoft.com.br/commons/icons/partidas_dobradas.png) no-repeat;
}

.icone.icone_central_de_relatorios_do_produto{
    background: url(//cdn.bluesoft.com.br/commons/icons/central_de_relatorios_do_produto.gif) no-repeat;
}

.icone.icone_excluir{
    background: url(//cdn.bluesoft.com.br/commons/icons/excluir.png) no-repeat;
}
.icone.icone_estornar {
    background: url(//cdn.bluesoft.com.br/commons/icons/estornar.png) no-repeat;
}
.icone.icone_informacao{
    background: url(//cdn.bluesoft.com.br/commons/icons/informacao.png) no-repeat;
}